@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-cover {
    background-size: cover;
    background-position: center;
  }
  
  .bg-opacity-90 {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .input-field {
    appearance: none;
    padding: 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #e2e8f0;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #4f46e5;
  }
  
  /* Button */
  button {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4f46e5;
  }
  